.fullPage {
    min-height: 100vh;
    min-width: 100vw;
}

.fullPage-dark {
    background-color: blue;
    color: beige;
}

.fullPage-light {
    background-color: aquamarine;
}

#lightSwitch {
    margin-left: 15px;
}

.title {
    font-size: 325%;
}

.title-dark {
    color: beige;
}

.title-light {
    color: brown;
}

.inputBox {
    margin-bottom: -10px;
}

#submitBtn {
    margin-top: 30px;
}

.resultBox {
    margin-top: 15px;
}