.fullPage {
    min-height: 100vh;
    min-width: 100vw;
}

.fullPage-dark {
    background-color: #292929;
    color: #FFBA08;
}

.fullPage-light {
    background-color: #E0E0E2;
    color: #D6D6B1;
}

#lightSwitch {
    margin-left: 15px;
}

.title {
    font-size: 325%;
}

.title-dark {
    color: #FFEA00;
}

.title-light {
    color: #D91C1C;
}

.subtitle {
    margin-top: -10px;
}

.subtitle-dark {
    color: #FFDD00;
}

.subtitle-light {
    color: #03071E;
}

.inputBox {
    margin-bottom: -10px;
}

#submitBtn {
    margin-top: 30px;
}

.resultBox {
    margin-top: 15px;
}